<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.dao.PageDescriptionMapper">
  <resultMap id="BaseResultMap" type="com.bank.bean.PageDescription">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="PageAddress" jdbcType="VARCHAR" property="pageaddress" />
    <result column="PageDate" jdbcType="VARCHAR" property="pagedate" />
    <result column="PageMessage" jdbcType="VARCHAR" property="pagemessage" />
    <result column="PageWaring" jdbcType="VARCHAR" property="pagewaring" />
    <result column="PagePhoneNum" jdbcType="VARCHAR" property="pagephonenum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, PageAddress, PageDate, PageMessage, PageWaring, PagePhoneNum
  </sql>
  <select id="selectByExample" parameterType="com.bank.bean.PageDescriptionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pagedescription
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pagedescription
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pagedescription
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bank.bean.PageDescriptionExample">
    delete from pagedescription
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bank.bean.PageDescription">
    insert into pagedescription (id, PageAddress, PageDate, 
      PageMessage, PageWaring, PagePhoneNum
      )
    values (#{id,jdbcType=INTEGER}, #{pageaddress,jdbcType=VARCHAR}, #{pagedate,jdbcType=VARCHAR}, 
      #{pagemessage,jdbcType=VARCHAR}, #{pagewaring,jdbcType=VARCHAR}, #{pagephonenum,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bank.bean.PageDescription">
    insert into pagedescription
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pageaddress != null">
        PageAddress,
      </if>
      <if test="pagedate != null">
        PageDate,
      </if>
      <if test="pagemessage != null">
        PageMessage,
      </if>
      <if test="pagewaring != null">
        PageWaring,
      </if>
      <if test="pagephonenum != null">
        PagePhoneNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pageaddress != null">
        #{pageaddress,jdbcType=VARCHAR},
      </if>
      <if test="pagedate != null">
        #{pagedate,jdbcType=VARCHAR},
      </if>
      <if test="pagemessage != null">
        #{pagemessage,jdbcType=VARCHAR},
      </if>
      <if test="pagewaring != null">
        #{pagewaring,jdbcType=VARCHAR},
      </if>
      <if test="pagephonenum != null">
        #{pagephonenum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bank.bean.PageDescriptionExample" resultType="java.lang.Long">
    select count(*) from pagedescription
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pagedescription
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pageaddress != null">
        PageAddress = #{record.pageaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.pagedate != null">
        PageDate = #{record.pagedate,jdbcType=VARCHAR},
      </if>
      <if test="record.pagemessage != null">
        PageMessage = #{record.pagemessage,jdbcType=VARCHAR},
      </if>
      <if test="record.pagewaring != null">
        PageWaring = #{record.pagewaring,jdbcType=VARCHAR},
      </if>
      <if test="record.pagephonenum != null">
        PagePhoneNum = #{record.pagephonenum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pagedescription
    set id = #{record.id,jdbcType=INTEGER},
      PageAddress = #{record.pageaddress,jdbcType=VARCHAR},
      PageDate = #{record.pagedate,jdbcType=VARCHAR},
      PageMessage = #{record.pagemessage,jdbcType=VARCHAR},
      PageWaring = #{record.pagewaring,jdbcType=VARCHAR},
      PagePhoneNum = #{record.pagephonenum,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bank.bean.PageDescription">
    update pagedescription
    <set>
      <if test="pageaddress != null">
        PageAddress = #{pageaddress,jdbcType=VARCHAR},
      </if>
      <if test="pagedate != null">
        PageDate = #{pagedate,jdbcType=VARCHAR},
      </if>
      <if test="pagemessage != null">
        PageMessage = #{pagemessage,jdbcType=VARCHAR},
      </if>
      <if test="pagewaring != null">
        PageWaring = #{pagewaring,jdbcType=VARCHAR},
      </if>
      <if test="pagephonenum != null">
        PagePhoneNum = #{pagephonenum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bank.bean.PageDescription">
    update pagedescription
    set PageAddress = #{pageaddress,jdbcType=VARCHAR},
      PageDate = #{pagedate,jdbcType=VARCHAR},
      PageMessage = #{pagemessage,jdbcType=VARCHAR},
      PageWaring = #{pagewaring,jdbcType=VARCHAR},
      PagePhoneNum = #{pagephonenum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>