<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.dao.PeLoOrFrontWebWordsMapper">
  <resultMap id="BaseResultMap" type="com.bank.bean.PeLoOrFrontWebWords">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="PeLoOrDealAddress" jdbcType="VARCHAR" property="peloordealaddress" />
    <result column="PeLoOrDealDate" jdbcType="VARCHAR" property="peloordealdate" />
    <result column="PeLoOrDealMessage" jdbcType="VARCHAR" property="peloordealmessage" />
    <result column="PeLoOrDealPhoneNum" jdbcType="VARCHAR" property="peloordealphonenum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, PeLoOrDealAddress, PeLoOrDealDate, PeLoOrDealMessage, PeLoOrDealPhoneNum
  </sql>
  <select id="selectByExample" parameterType="com.bank.bean.PeLoOrFrontWebWordsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from peloorfrontwebwords
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from peloorfrontwebwords
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from peloorfrontwebwords
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bank.bean.PeLoOrFrontWebWordsExample">
    delete from peloorfrontwebwords
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bank.bean.PeLoOrFrontWebWords">
    insert into peloorfrontwebwords (id, PeLoOrDealAddress, PeLoOrDealDate, 
      PeLoOrDealMessage, PeLoOrDealPhoneNum)
    values (#{id,jdbcType=INTEGER}, #{peloordealaddress,jdbcType=VARCHAR}, #{peloordealdate,jdbcType=VARCHAR}, 
      #{peloordealmessage,jdbcType=VARCHAR}, #{peloordealphonenum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bank.bean.PeLoOrFrontWebWords">
    insert into peloorfrontwebwords
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="peloordealaddress != null">
        PeLoOrDealAddress,
      </if>
      <if test="peloordealdate != null">
        PeLoOrDealDate,
      </if>
      <if test="peloordealmessage != null">
        PeLoOrDealMessage,
      </if>
      <if test="peloordealphonenum != null">
        PeLoOrDealPhoneNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="peloordealaddress != null">
        #{peloordealaddress,jdbcType=VARCHAR},
      </if>
      <if test="peloordealdate != null">
        #{peloordealdate,jdbcType=VARCHAR},
      </if>
      <if test="peloordealmessage != null">
        #{peloordealmessage,jdbcType=VARCHAR},
      </if>
      <if test="peloordealphonenum != null">
        #{peloordealphonenum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bank.bean.PeLoOrFrontWebWordsExample" resultType="java.lang.Long">
    select count(*) from peloorfrontwebwords
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update peloorfrontwebwords
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.peloordealaddress != null">
        PeLoOrDealAddress = #{record.peloordealaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.peloordealdate != null">
        PeLoOrDealDate = #{record.peloordealdate,jdbcType=VARCHAR},
      </if>
      <if test="record.peloordealmessage != null">
        PeLoOrDealMessage = #{record.peloordealmessage,jdbcType=VARCHAR},
      </if>
      <if test="record.peloordealphonenum != null">
        PeLoOrDealPhoneNum = #{record.peloordealphonenum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update peloorfrontwebwords
    set id = #{record.id,jdbcType=INTEGER},
      PeLoOrDealAddress = #{record.peloordealaddress,jdbcType=VARCHAR},
      PeLoOrDealDate = #{record.peloordealdate,jdbcType=VARCHAR},
      PeLoOrDealMessage = #{record.peloordealmessage,jdbcType=VARCHAR},
      PeLoOrDealPhoneNum = #{record.peloordealphonenum,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bank.bean.PeLoOrFrontWebWords">
    update peloorfrontwebwords
    <set>
      <if test="peloordealaddress != null">
        PeLoOrDealAddress = #{peloordealaddress,jdbcType=VARCHAR},
      </if>
      <if test="peloordealdate != null">
        PeLoOrDealDate = #{peloordealdate,jdbcType=VARCHAR},
      </if>
      <if test="peloordealmessage != null">
        PeLoOrDealMessage = #{peloordealmessage,jdbcType=VARCHAR},
      </if>
      <if test="peloordealphonenum != null">
        PeLoOrDealPhoneNum = #{peloordealphonenum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bank.bean.PeLoOrFrontWebWords">
    update peloorfrontwebwords
    set PeLoOrDealAddress = #{peloordealaddress,jdbcType=VARCHAR},
      PeLoOrDealDate = #{peloordealdate,jdbcType=VARCHAR},
      PeLoOrDealMessage = #{peloordealmessage,jdbcType=VARCHAR},
      PeLoOrDealPhoneNum = #{peloordealphonenum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>